body {
    width: 100%;
    height: 100%;
    background-color: #1b1c1d;
    color: rgba(255, 255, 255, .9);
    font-size: 16px;
    padding: 15px;
}

.viewport__sidebar {
    float: left;
    width: 15rem;
    height: 100%;
}

.viewport__menu {
    height: 100%;
}

.viewport__content {
    margin-left: 15rem;
}

/*
 Основное меню
*/

.menu__main {
    margin-bottom: 30px;
}

.menu__main .menu {
    /*font-size: 16px;*/
}


/*
 Страницы
*/

.wotstat-page {
    position: relative;
}

.page__index .non-auth__hero {
    height: 683px;
    background-color: #272D4E;
    background-image: url(/static/img/exagon-pattern.png);
}

.page__index .non-auth__hero h1 {
    font-size: 3.56rem;
    line-height: 3.916rem;
}

.page__index .non-auth__hero .wot-logo {
    margin-top: -20px;
}

.page__index .non-auth__hero .sub-title {
    padding: 10px;
    margin-top: -70px;
}

.page__index .non-auth__hero .login {
    margin-top:25px;
}

/*
 Виджет статистики
*/
.stat-widget {
    font-size: 12px;

}

.stat-widget .statistic {
    margin-right: 30px !important;
}

/*
 Таблицы
*/

.wotstat__grid tbody tr {
    cursor: pointer !important;
}

/*
Вспомогательные стили
*/
.tMrgn15 {
    margin-top: 15px;
}
.bMrgn15 {
    margin-bottom: 15px;
}

.pdgn15 {
    padding: 15px;
}