<!DOCTYPE html>
<html lang="ru">
<head>
    <title>wot.akvarats.me</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="wot.akvarats.me">
    <meta name="author" content="akvarats">

    <script type="text/javascript">
        var require = {
            urlArgs: 'ver=---cache-invalidator-default-value---',  // cache-invalidator-control,
            i18n: { locale: 'ru' }
        }
    </script>

    <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/static/css/libs/semantic.css?ver=---cache-invalidator-default-value---" rel="stylesheet" type="text/css">
    <link href="/static/css/app/wotstat.css?ver=---cache-invalidator-default-value---" rel="stylesheet" type="text/css">

    <script data-main="/static/js/app/wotstat.js" src="/static/js/libs/require.js" type="text/javascript"></script>


</head>
<body>
    <script type="text/javascript">
        var ServerData = {
            user: {% if user %} {id: {{ user.id }}, name: '{{ user.username }}'} {% else %} undefined {% endif %}
            , serverClock: '{% now "d.m.Y H:i:s" %}'
        };
    </script>
</body>
</html>